ta-connector-demo-ext/main/default/flows/ProcessOtherDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_REcordtype_for_Document</name>
        <label>Assign REcordtype for Document</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varDocument.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Other_RecordtypeID_for_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Existing_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Existing_Document</name>
        <label>is Existing Document</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>insert_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Document_ID</name>
            <conditionLogic>NOT(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>varDocument.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocument.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Doc</targetReference>
            </connector>
            <label>has Document ID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ProcessOtherDocument {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProcessOtherDocument</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insert_Document</name>
        <label>insert Document</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputReference>varDocument</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Other_RecordtypeID_for_Document</name>
        <label>Get Other RecordtypeID for Document</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_REcordtype_for_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tungstenconnect__Document__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Doc</name>
        <label>Update Doc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>varDocument</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_RecordtypeID_for_Document</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
</Flow>
