ta-connector-demo-ext/main/default/flows/ProcessW2DocumentV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Account_ID_to_Document</name>
        <label>Assign Account ID to Document</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varDocument.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Document_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Name</name>
        <label>Assign Document Name</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_recordtype</name>
        <label>update recordtype</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varDocument.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recordtype_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_whether_to_insert_or_Update_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_Name_Extracted</name>
        <label>Check if Account Name Extracted</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Insert_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Search for Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_to_insert_or_Update_Document</name>
        <label>Check whether to insert or Update Document</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_if_Account_Name_Extracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_document_Id</name>
            <conditionLogic>NOT (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>varDocument.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocument.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Doc</targetReference>
            </connector>
            <label>has document Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>{!varDocument.First_Name__c} + &apos; &apos; + {!varDocument.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>DocumentName</name>
        <dataType>String</dataType>
        <expression>&quot;W2 &quot; + {!AccountName}</expression>
    </formulas>
    <interviewLabel>ProcessW2Docv1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProcessW2DocumentV1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Document</name>
        <label>Insert Document</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <inputReference>varDocument</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_ID_to_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtype_ID</name>
        <label>Get Recordtype ID</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tungstenconnect__Document__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>W2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Doc</name>
        <label>Update Doc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>varDocument</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Recordtype_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
</Flow>
