ta-connector-demo-ext/main/default/flows/process_Bank_Statement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>add_Document_ID_on_BankStatement</name>
        <label>add Document ID on BankStatement</label>
        <locationX>248</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varBankStatement.Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Bank_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_item_to_VarUpdateBankAccounts</name>
        <label>Add item to VarUpdateBankAccounts</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>VarUpdateBankAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_and_update_Bankstatement_Id_on_Bank_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_and_update_Bankstatement_Id_on_Bank_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_ID_to_Document</name>
        <label>Assign Account ID to Document</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varDocument.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_Document_record</name>
        <label>Assign ID to Document record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varDocument.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_REcordtype_for_Document</name>
        <label>Assign REcordtype for Document</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varDocument.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bank_statement_RecordtypeID_for_Docmunet.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Existing_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_BankStatement_Id</name>
        <label>update BankStatement Id</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Iterate_and_update_Bankstatement_Id_on_Bank_Accounts.Bank_Statement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBankStatement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_item_to_VarUpdateBankAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>has_Name_Extracted</name>
        <label>has Name Extracted</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>insert_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_for_Account</name>
            <conditionLogic>NOT (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>varBankStatement.Account_Holder_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBankStatement.Account_Holder_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Search for Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Existing_Document</name>
        <label>is Existing Document</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>has_Name_Extracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Document_ID</name>
            <conditionLogic>NOT (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>varDocument.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocument.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_to_Document_record</targetReference>
            </connector>
            <label>has Document ID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>process Bank Statement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>process Bank Statement</label>
    <loops>
        <name>Iterate_and_update_Bankstatement_Id_on_Bank_Accounts</name>
        <label>Iterate and update Bankstatement Id on Bank Accounts</label>
        <locationX>248</locationX>
        <locationY>1274</locationY>
        <collectionReference>varBankAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_BankStatement_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bank_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Bank_Statement</name>
        <label>Insert Bank Statement</label>
        <locationX>248</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Iterate_and_update_Bankstatement_Id_on_Bank_Accounts</targetReference>
        </connector>
        <inputReference>varBankStatement</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insert_Document</name>
        <label>insert Document</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>add_Document_ID_on_BankStatement</targetReference>
        </connector>
        <inputReference>varDocument</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Update_Bank_Accounts</name>
        <label>Update Bank Accounts</label>
        <locationX>248</locationX>
        <locationY>1682</locationY>
        <inputReference>VarUpdateBankAccounts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_ID_to_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBankStatement.Account_Holder_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_statement_RecordtypeID_for_Docmunet</name>
        <label>Get Bank statement RecordtypeID for Docmunet</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_REcordtype_for_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bank_Statement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tungstenconnect__Document__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Doc</name>
        <label>Update Doc</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>add_Document_ID_on_BankStatement</targetReference>
        </connector>
        <inputReference>varDocument</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bank_statement_RecordtypeID_for_Docmunet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>documentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBankAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>varBankStatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Statement__c</objectType>
    </variables>
    <variables>
        <name>varDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>VarUpdateBankAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Account__c</objectType>
    </variables>
</Flow>
