ta-connector-demo-ext/main/default/flows/Process_Document_action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Document</name>
        <label>Process Document</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <actionName>TACreateJobWithDocRequestInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Job_ID_and_response_message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentIds</name>
            <value>
                <elementReference>Upload_Document_v1.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>InputVariablesCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <elementReference>TotalAgilityProcessName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TACreateJobWithDocRequestInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Content_Document_Id</name>
        <label>Assign Content Document Id</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varContentDocId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Content_Doc_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Doc_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Input_variables</name>
        <label>assign Input variables</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>DoumentIdInputVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SFDCDOCUMENTID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoumentIdInputVariable.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_InpPut_Variable_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_InpPut_Variable_Collection</name>
        <label>assign to InpPut Variable Collection</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>InputVariablesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DoumentIdInputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Document</name>
        <label>Populate Document</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DocumentRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>docRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_EntityDefinition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Document_parent_Account</name>
        <label>Populate Document parent Account</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DocumentRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Document_parent_Case</name>
        <label>Populate Document parent Case</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DocumentRec.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Document_parent_Contact</name>
        <label>Populate Document parent Contact</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DocumentRec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Parent_Object</name>
        <label>check Parent Object</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>insert_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EntityDefinition.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Document_parent_Account</targetReference>
            </connector>
            <label>is Parent Account</label>
        </rules>
        <rules>
            <name>is_Parent_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EntityDefinition.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Document_parent_Contact</targetReference>
            </connector>
            <label>is Parent Contact</label>
        </rules>
        <rules>
            <name>is_Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EntityDefinition.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Document_parent_Case</targetReference>
            </connector>
            <label>is Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_Job_ID_and_response_message</name>
        <label>Display Job ID and response message</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>display_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.tungstenconnect__TotalAgility_System_Configurations__c.tungstenconnect__Log_Job_inbound_and_outbound_Requests__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Output</targetReference>
            </connector>
            <label>display message</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DocumentTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tungstenconnect__Document__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>docRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>recordKeyPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <formulas>
        <name>TotalAgilityProcessName</name>
        <dataType>String</dataType>
        <expression>CASE({!Document_Type}, 
    &quot;Credit Application&quot;, &quot;TungstenForce_CreditApplication&quot;, 
    &quot;W2&quot;, &quot;TungstenForce_W2&quot;, 
    &quot;Bank Statement&quot;, &quot;TungstenForce_BankStmt&quot;, 
&quot;Other&quot;,&quot;TungstenForce_Other&quot;,
    &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Process Document action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Document</label>
    <loops>
        <name>Loop_Through_Content_Doc_Ids</name>
        <label>Loop Through Content Doc Ids</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <collectionReference>Upload_Document_v1.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Link_Document_Record_and_the_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insert_Document</name>
        <label>insert Document</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_Through_Content_Doc_Ids</targetReference>
        </connector>
        <inputReference>DocumentRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Link_Document_Record_and_the_File</name>
        <label>Link Document Record and the File</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>assign_Input_variables</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>varContentDocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>DocumentRec.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_EntityDefinition</name>
        <label>Get EntityDefinition</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Parent_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordKeyPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Output</name>
        <label>Display Output</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Job_ID</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Job ID: {!Process_Document.jobID}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Result : {!Process_Document.result}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Result Message: {!Process_Document.resultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_DocumentType</name>
        <label>Select DocumentType</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Document</targetReference>
        </connector>
        <fields>
            <name>Upload_Document_v1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Document_Type</name>
            <choiceReferences>DocumentTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_DocumentType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>DoumentIdInputVariable</name>
        <apexClass>tungstenconnect__InputVariables</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputVariablesCollection</name>
        <apexClass>tungstenconnect__InputVariables</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
